/*
 * Copyright 2015, Robert Bieber
 *
 * This file is part of mixer.
 *
 * mixer is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * mixer is distributed in the hope that it will be useful,
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with mixer.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
	font-size: 20px;
}

div.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.container h1 {
	font-size: 36px;
	text-align: center;
}

.container h2 {
	font-size: 30px;
}

.container h3 {
	font-size: 26px;
	margin-bottom: 4px;
}

div.login_button_container {
	text-align: center;
}

div.left_column {
	float: left;
	width: 300px;
}

div.middle_column {
	float: left;
	width: 300px;
}

div.right_column {
	float: left;
	width: 200px;
}

div.list_item {
	width: 220px;
	border-bottom: 1px solid gray;
	margin-bottom: 4px;
}

div.list_item p {
	margin-top: 0px;
	margin-bottom: 4px;
}
